@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

body {
  margin: 0px;
  padding: 6px;
  border: 4px solid black;
  background-color:  #B4CF66;
}

.has-light-yellow-background {
  background-color: #B4CF66;
}

.has-cute-thin-border {
  border-color: rgb(107, 28, 28);
  border-width: 5px;
  border-style: groove;
}

footer {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 0px;
  padding-right: 0px;
  font-family: 'Dosis', sans-serif;
  background-color: #FF5A33;
}

.leadingfont {
  font-size: 3em;
  font-family: 'Dosis', sans-serif;
  font-weight: bolder;
}

.dosis {
  font-family: 'Dosis', sans-serif;
  font-weight: bolder;
}

nav {
  border-bottom:1px solid black;
  padding: 16px;
  background-color: #FF5A33;
}

main {
  padding: 16px;
}

.my-grid {
  display: grid ;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 50px;
  margin: auto;
  box-shadow: 13px 15px 22px 1px rgba(68,128,63,0.56);
}

.shadow-box {
  box-shadow:  15px 22px 1px rgba(255, 235, 92, 1);

}

.my-grid-1 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
}

h2 {
  font-family: 'Dosis', sans-serif;
}

a {
  color: #146152;
  font-family: 'Dosis', sans-serif;
}

a:hover {
  color:#44803F;
}

table {
  border: 5px solid black;
  background-color:#FFEC5C;
}

tr:nth-child(even) {
background-color: #B4CF66;
}

li:nth-child(even) {
background-color: #B4CF66;
}



/* Color Theme Swatches in Hex */
.Tropical-Fruit-Punch-1-hex { color: #146152; }
.Tropical-Fruit-Punch-2-hex { color: #44803F; }
.Tropical-Fruit-Punch-3-hex { color: #B4CF66; }
.Tropical-Fruit-Punch-4-hex { color: #FFEC5C; }
.Tropical-Fruit-Punch-5-hex { color: #FF5A33; }

/* Color Theme Swatches in RGBA */
.Tropical-Fruit-Punch-1-rgba { color: rgba(19, 96, 82, 1); }
.Tropical-Fruit-Punch-2-rgba { color: rgba(67, 127, 62, 1); }
.Tropical-Fruit-Punch-3-rgba { color: rgba(179, 206, 101, 1); }
.Tropical-Fruit-Punch-4-rgba { color: rgba(255, 235, 92, 1); }
.Tropical-Fruit-Punch-5-rgba { color: rgba(255, 90, 50, 1); }

/* Color Theme Swatches in HSLA */
.Tropical-Fruit-Punch-1-hsla { color: hsla(168, 66, 22, 1); }
.Tropical-Fruit-Punch-2-hsla { color: hsla(115, 34, 37, 1); }
.Tropical-Fruit-Punch-3-hsla { color: hsla(75, 51, 60, 1); }
.Tropical-Fruit-Punch-4-hsla { color: hsla(52, 100, 68, 1); }
.Tropical-Fruit-Punch-5-hsla { color: hsla(11, 100, 59, 1); }
